<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>Linuxcao is a good man</h1>
    <h1>{{num}}</h1>
    <h1>{{stu.sname}}</h1>
    <h1>{{stu.getName}}</h1>

    {% if num %}
    <h1>Linuxcao is a nice man</h1>
    {% endif %}

    <u1>
    {% for stu in students %}
        <li>
            {{forloop.counter}}--{{stu.sname}}--{{stu.sgrade}}
        </li>
     {% empty %}
        <li>目前没有学生</li>
     {% endfor %}
    </u1>

    {%comment%}
    注释语句
    {%endcomment%}

    {% ifequal num1 num2 %}
    <h1>num1 = num2</h1>
    {% endifequal %}

    <h1>{{str | upper}}</h1>
    <h1>{{str}}</h1>

    <h1>{{ list | join:'#'}}</h1>
    <h1>{{ test | default:'good'}}</h1>

    <!--加减乘除--->
    <h1>num = {{num}}</h1>
    <h1>{{ num | add:10 }}</h1>
    <h1>{{ num | add:-5 }}</h1>
    <!-- num / 1 * 5     ---->
    <h1>{% widthratio num 1 5 %}</h1>
    <!-- num / 5 * 1     ---->
    <h1>{% widthratio num 5 1 %}</h1>

    {# <h1>Linuxcao is a good man</h1> #}

    <a href="{% url 'app:good' 2%}">登陆</a>

    {{code}}
    <!--HTML转义-->
    {{ code | safe}}

    {% autoescape off %}
    {{code}}
    {%endautoescape%}
</body>
</html>